<div class="container-main-card">
  <div class="image-main-card">
    <img
      class="angular-image"
      src="{{imageCover}}"
      alt="angular-img"
      srcset=""
      height="450px"
      style="border-radius: 10px"
    />
  </div>

  <div class="h1-main-card">
    <h1>
      <a
        href="https://blog.bitsrc.io/top-8-tools-for-angular-development-in-2023-a99d9f3a2e4e"
        >{{cardTitle}}</a
      >
    </h1>
  </div>

  <div class="paragraph-main-card">
    <p>
     {{cardDescription}}
    </p>
  </div>

  <div class="date-main-card">
    <p>
      {{paragraphMainCard}}
    </p>
  </div>
</div>
