
<header> 
    <app-menu-bar> </app-menu-bar>
</header>

<app-menu-title> </app-menu-title>

<div class="container-articles">
    <div class="articles_main">
        <app-main-card 
            imageCover="../../../assets/angular1.png"
            cardTitle="Top 8 ferramentas para desenvolvimento Angular em 2023"
            cardDescription=" O Angular é um framework baseado em JavaScript, de código fonte aberto, amplamente usado para criar aplicações dinâmicas e escaláveis. Entretanto, é difícil entregar projetos de alta qualidade sem as ferramentas corretas. Então, neste artigo, irei discutir o top 8 de ferramentas para desenvolvimento angular em 2023."
            paragraphMainCard="31 de Agosto de 2023"
        > 
        </app-main-card>
    </div>

    <div class="artticles_others">
        <app-secondary-card
        imageSecondaryCard="../../../assets/javascript.jpeg"
        titleSecondaryCard="Confira essas dicas de JavaScript"
        paragraphDateSecondaryCard="31 de Agosto de 2023"
        [link]="'https://www.mundojs.com.br/category/post/'"
        > 
        </app-secondary-card>


        <app-secondary-card
        imageSecondaryCard="https://buddy.works/guides/covers/test-nodejs-app/cover-nodejs-logo.png"
        titleSecondaryCard="Como criar um Website Single Page Application com NodeJS"
        paragraphDateSecondaryCard="01 de Setembro de 2023"
        [link]="'https://www.mundojs.com.br/2020/09/09/criando-single-page-website-com-nodejs/'"
        > 
        </app-secondary-card>
    </div>

    
</div>